apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: memcached-deployment
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: memcached
    spec:
      containers:
      - name: memcached
        image: nextgen/memcached:v1
        ports:
        - containerPort: 11211
